@import "bigslider.css";
@import "button.css";
@import "card.css";
@import "footer.css";
@import "megamenu.css";
@import "navmenudesktop.css";
@import "navmenumobile.css";
@import "typo.css";
@import "megamenumobile.css";
@import "responsive.css";
@import "megamenuall.css";
@import "onboard.css";
@import "productdetail.css";
@import "cart.css";

@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@200;300;400;700&family=Open+Sans:wght@300;400;700&display=swap');

/* font-family: 'Nunito', sans-serif;
font-family: 'Open Sans', sans-serif; */

/* body{
    background-color: #fff;
    font-family: 'Open Sans',-apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
      'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
      sans-serif;
} */

a,
p,
ul,
li{
    font-family: 'Nunito', sans-serif !important;
    margin-bottom: 1rem;
}

html {
    height: auto !important;
}
body {
    background-color: #FAFDFB !important;
    font-size: 15px;
    font-weight: 300;
    color: #212121;
    position: initial !important;
    min-height: initial !important;
    top: auto !important;
    font-family: 'Open Sans',-apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
      'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
      sans-serif;
}

.goog-te-banner-frame {
    top:initial;
    bottom: 0;
    display: none;
}

.cursor-pointer{
    cursor: pointer !important;
}

.BetweenTwoSection{
    margin-top: 60px;
    margin-bottom: 60px;
}

.TopSection{
    margin-top: 100px;
}

.Link{
    text-decoration: none !important;
    font-family: 'Nunito', sans-serif !important;
}

.Link:hover{
    text-decoration: none !important;
} 

.text-decoration-none{
    text-decoration: none !important;
}
