@media (max-width: 374.98px) {

  .desktop {
    display: none;
  }
  .slider-img {
    width: 100% !important;
    height: 225px !important;
  }
}

@media (min-width: 375.98px) and (max-width: 575.98px) {
  .desktop {
    display: none;
  }
  .slider-img {
    width: 100% !important;
    height: 275px !important;
  }
}

@media (min-width: 576px) and (max-width: 767.98px) {

  .desktop {
    display: none;
  }

  .slider-img {
    width: 100% !important;
    height: 300px !important;
  }
}

@media (min-width: 768px) and (max-width: 991.98px) {
  .mobile {
    display: none;
  }

}

@media (min-width: 992px) and (max-width: 1199.98px) {
  .mobile {
    display: none;
  }
}

@media (min-width: 1200px) {
  .mobile {
    display: none;
  }
}


